@import './_base.scss';
@import './_reset.scss';
@import './_mixin.scss';
@import './_common.scss';

/* header */

.banner {
    padding-bottom: 0.25rem;
    .swiper-slide {
        display: flex;
        flex-wrap: wrap;
    }
    .foodentry-item {
        width: 25%;
        margin-top: 0.11rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            width: 0.45rem;
            height: 0.45rem;
        }
        span {
            display: block;
            margin-top: 0.066666rem;
            color: #666;
            font-size: 0.1rem;
        }
    }
}

.index-CUiNS_0 img {
    max-width: 100%;
    width: 9rem;
    height: 1rem;
}